@import '../../styles/_variables.scss';

/*Widget*/
.elitex-widget {
  position: relative;
  margin: 15px;
  height: auto;
  display: inline-block;
}

.widget-table {
  width: $fullWidth;
  .totalRow {
    color: $accentColor;
    background-color: $blocksBackground;
  }
}
.p-l-7px {
  padding-left: 7px;
}
.m-l-15px {
  margin-left: 15px;
}