@import '../../styles/_variables.scss';

.elitex-header {
  position: sticky; 
  top: 0 ;
  left: 0;
  right: 0;
}

.icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.links-container {
  width: 100%;
  text-align: right;
}